.button-container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 50px ;
}

.button-container button{
    padding : 10px 15px;
    border : 1px solid black;
    border-radius : 10px;
    cursor: pointer;
    
}

.button-container button:nth-child(1){
    background-color: rgba(83, 241, 104, 0.541);
}

.button-container button:nth-child(1):hover{
    background-color: rgb(69, 241, 92);
}

.button-container button:nth-child(2){
    background-color: rgba(250, 50, 50, 0.61);
}

.button-container button:nth-child(2):hover{
    background-color: rgba(250, 50, 50, 0.932);
}

.info-icon button{
    background-color : #07090a;
    color : white;
    border-radius : 50%;
    height: 25px;
    width : 25px;
    border : none;
    font-family: monospace;
    font-weight:200;
    font-size : 17px;
    cursor : pointer;
    box-sizing: border-box;
}